<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACOshSILaix9Vq1rvbnXDY_lHi8u9TiHA</string>
	<key>GCM_SENDER_ID</key>
	<string>425846153215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spring.structure</string>
	<key>PROJECT_ID</key>
	<string>flutter-structure-f1af8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-structure-f1af8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425846153215:ios:c6b6c6cbc72f623aaf91ca</string>
</dict>
</plist>